/reto2/DibujarAristas/nbproject/private/
/reto2/DibujarAristas/build/
/reto2/DibujarAristas/dist/
/reto2/Trabajo cristian/build/
/reto2/Trabajo cristian/dist/
/reto2/Trabajo cristian/nbproject/private/
/Reto3/JavaApplication1/nbproject/private/